# Virtuelle Umgebung
venv/

# Python-Cache-Dateien
__pycache__/
*.py[cod]

# IDE & Editor
.vscode/
.idea/

# Logdateien & Umgebungen
*.log
.env
*.sqlite3

# OS-spezifisches
.DS_Store
Thumbs.db

# Projektinterne Cache-/Lernstände
data/cache/
data/lernstand/

# Vektordateien, FAISS-Indexe, Pickles etc.
*.faiss
*.pkl
*.json
